@{
    ViewData["Title"] = "Home Page";
}


<form method="get" action="/TodoItems/Index">
    <button type="submit">List</button>
</form>
<br />
<br />
    <form method="get" action="/TodoItems/Create">
        <button type="submit">Create</button>
    </form>
<br />
